* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#body--container{
    display: flex;
    align-items: center;
}

h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 30px;
}

.main-section--items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#container--main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 80vh;
    background-color: #ECE5C7;
    padding: 30px;
    border: 1px solid #354259;
    border-radius: 50px;
}

#container--table-display{
    height: 23vh;
    width: 15vw;
    background-color: #CDC2AE;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #354259;
    border-radius: 30px;
    margin-left: 5px;
}

#table--materias, .table--item{
    border: 1px solid black;
    border-collapse: collapse; 
    background-color: #C2DED1;
    color: #354259;
    text-align: center;
}

#table--materias{
    width: 300px;
    margin-bottom: 10px;
}

.table--item{
    font-size: 2rem;
    padding: 3px;
}

#table--valor{
    margin-top: 10px;
}

.labels{
    font-size: 2rem;
}

#form--button{
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    touch-action: manipulation;
    height: 30px;
    width: 150px;
    margin-top: 20px;
}

#form--button:hover,
#form--button:focus {
    background-color: #F082AC;
}

#pornombrar{
    width: 750px;
}

#button--calcular{
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    touch-action: manipulation;
    height: 30px;
    width: 80px;
}

#button--calcular:hover,
#button--calcular:focus {
  background-color: #F082AC;
}

#table--valor{
    margin-bottom: 5px;
}

.output{
    display: inline-block;
    font-size: 2.5rem;
    text-align: center;
    background-color: #354259;
    color: #C2DED1;
    border-radius: 20px;
}